body {
  margin: 0;
  padding: 0;
}
.gestion-para {
  display: flex;
  align-items: flex-start;
}
.paragraph {
  margin-left: 2em;
  margin-bottom: 0;
}
.color,
.font-size,
.font-type {
  width: 20%;
  margin: 2em;
}
